<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>База данных | Добавить</title>
    <style>
        h1 {
            text-align: center;
        }
        .attention-text {
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .add-user-form {
            text-align: center;
            font-size: 20px;
        }
        .add-user-form button {
            margin-top: 15px;
        }
        .back-button {
            text-align: center;
            margin-top: 40px;
        }
    </style>
</head>
<body>
<h1>Добавить пользователя в базу</h1>
<hr>
<p class="attention-text">
    <b>
        Важно учитывать:
    </b>
    <br>
    - <i>id</i> и <i>username</i> должны быть уникальными
    <br>
    - <i>email</i> может быть пустым
</p>
<form class="add-user-form" action="/db/add" method="post">
    <div>
        <label>
            id<br><input type="text" name="id_input" required>
        </label>
    </div>
    <div>
        <label>
            username<br><input type="text" name="username_input" required>
        </label>
    </div>
    <div>
        <label>
            password<br><input type="text" name="password_input" required>
        </label>
    </div>
    <div>
        <label>
            email<br><input type="text" name="email_input">
        </label>
    </div>
    <button type="submit">Добавить</button>
</form>
<div class="back-button">
    <a href="/db">Вернуться</a>
</div>
</body>
</html>