<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
        * {
            text-align: center;
        }
        .main-text {
            font-size: 20px;
            margin-bottom: 0;
        }
        .list-tricks {
            font-size: 20px;
            padding: 0;
            margin-top: 0;
            list-style: none;
        }
    </style>
</head>
<body>
<h1>
    Добро пожаловать, {{ nickname }}!
</h1>
<hr>
<p class="main-text">
    Это мой первый проект, представляющий из себя сайт, созданный на <b>FastAPI</b>. Не судите строго 🙂<br><br>
    На данном сайте реализовано:
</p>
<ul class="list-tricks">
    <li>
        <b>- CRUD с помощью библиотеки SQLAlchemy</b>
    </li>
    <li>
        <b>- Система аутентификации/авторизации, основанная на jwt-токене</b>
    </li>
    <li>
        <b>- Пагинация (beta)</b>
    </li>
    <li>
        <b>- Кэширование с redis (beta)</b>
    </li>
</ul>
<div class="links" style="margin-bottom: 40px;">
    <a href="/db">
        <button>Открыть базу пользователей</button>
    </a>
</div>
<div>
    <form action="/logout" method="post">
        <button type="submit">Выйти из аккаунта</button>
    </form>
</div>
</body>
</html>