<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
        .main-text {
            font-size: 20px;
        }

    </style>
</head>
<body>
<h1>
  Добро пожаловать, {{ nickname }}!
</h1>
<p class="main-text">Это мой первый проект, представляющий из себя сайт, созданный на <b>FastAPI</b>. Не судите строго 🙂<br>
    На данном сайте реализованы операции <b>CRUD с помощью библиотеки SQLAlchemy</b> и <b>система аутентификации/авторизации, основанная на jwt-токене</b>, которая хранится в куках<br>
    Ниже можно протестировать операции CRUD:
</p>
<div class="links" style="margin-bottom: 40px;">
    <a href="/db">Открыть базу пользователей</a>
</div>
<div>
    <a href="/logout">Выйти из аккаунта</a>
</div>
</body>
</html>